body {
    margin-left:  auto;
    margin-right: 0 auto;
    float: left;
}

header {
    background-color: white;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    text-align: center;
}

nav {
    font-size: 10pt;
    text-align: right;
}

.content {
    background-color: white;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 14pt;
}

footer {
    background-color: #666666;
    color: #ffffff;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

#spacer {
    padding-right: 500px
}

#name {
    background-color: #4aaaa5;
    color: #ffffff;
    font-family: 'Georgia', 'Times', 'Times New Roman', serif;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
}

#links {
    padding-left: 10%;
    padding-right: 10%;
}

#content-title {
    color: #4aaaa5;
    font-family: 'Georgia', 'Times', 'Times New Roman', serif;
}